{% extends '::template_back.html.twig' %}

{% block body %}

<h1>Articles</h1>

<p>
    <a href="{{ path('article_new') }}" class="btn btn-large btn-block btn-primary">
        <i class="icon-plus icon-white"></i> Ajouter un article
    </a>
</p>

<table class="table table-striped">
{% for entity in entities %}
    <tr>
        <td><h4>{{ entity.title }}</h4></td>
        <td>{{ entity.created|date('d/m à H:i') }}</td>
        <td><a href="{{ path('article_show', { 'id': entity.id }) }}" class="btn btn-inverse" ><i class="icon-eye-open icon-white"></i> Aperçus</a></td>
    </tr>
{% else %}

    <h2 class="text-center">Aucun articles publiés pour le moment.</h2>

{% endfor %}
</table>

{% endblock %}
