{% extends '::template_back.html.twig' %}

{% block body %}
<div class="page-header">
  <h1>Informations <small>identifiants</small></h1>
</div>
<p>Ici on peut mettre tout ce que l'ont désire, commes identifiants du Google analytics, ou bien les identifiants du twitter, ou quelques recommandations, bref hésitez pas à m'envoyer un mail (tleduc@epsi.fr) pour me dire ce que vous aimeriez y voir.</p>
{% endblock %}